<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="Retail_HD.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings />
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
  <userSettings>

    <Retail_HD.Properties.Settings>
      <setting name="_ShowLoggedOutUsers" serializeAs="String">
        <value>False</value>
      </setting>
      <setting name="_ShowMeInAgentStatus" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_EnableAutoReady" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_LoginEnabled" serializeAs="String">
        <value>True</value>
      </setting>
      <setting name="_DrawingLocation" serializeAs="String">
        <value>20, 20</value>
      </setting>
      <setting name="_DrawingSize" serializeAs="String">
        <value>764, 477</value>
      </setting>
      <setting name="_OldMenuPath" serializeAs="String">
        <value>\\wwwint\roc\techtmp\bergman\Toolsmenu.bat</value>
      </setting>
    </Retail_HD.Properties.Settings>
  </userSettings>
</configuration>
