<?xml version="1.0"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Retail_HD.Setting.SQL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Retail_HD.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Retail_HD.SQLSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Retail_HD.GlobalSQLSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Retail_HD.GlobalSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Retail_HD.UserSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Retail_HD.setGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Retail_HD.main" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Retail_HD.global" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Retail_HD.Classes.SQL" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
            <section name="Retail_HD.setGlobal" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Retail_HD.Properties.Settings.RetailHDConnectionString"
            connectionString="Data Source=gouldch\mssql;Initial Catalog=RetailHD;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <Retail_HD.Setting.SQL>
            <setting name="_ServerName" serializeAs="String">
                <value>rochdclogp01</value>
            </setting>
            <setting name="_Database" serializeAs="String">
                <value>RetailHD</value>
            </setting>
            <setting name="_RecentCallsByStore" serializeAs="String">
                <value>select
	[Calls].[id] as [ID],
	[Calls].[store] as [Store],
	[Calls].[date] [Date],
	[Technicians].[initials] as [Tech],
	[Categories].[category] as [Category],
	[Topics].[topic] as [Topic],
	[Calls].[details] as [Details],
	[Calls].[type] as [In/Out],
	[Calls].[trax] as [Trax],
	[Calls].[url] as [URL]
from
	[Calls]
	left join
		[Topics] on [Calls].[topID] = [Topics].id
	left join
		[Categories] on [Topics].[catID] = [Categories].[id]
	left join
		[Technicians] on [Calls].[techID] = [Technicians].[id]
where
	[Calls].[store] = @store
order by
	[Calls].[date] desc

</value>
            </setting>
            <setting name="_ComputersByStore" serializeAs="String">
                <value>SELECT 
	[computer] 
FROM 
	[Computers] 
WHERE 
	[store] = @store</value>
            </setting>
            <setting name="_CategoriesWithTopics" serializeAs="String">
                <value>select 
	[category], 
	[topic], 
	[mandatory] 
from 
	[Topics] 
	left join 
		[Categories] 
	on 
		[Topics].[catID] = [Categories].[id]
where
	[active] = 'TRUE'</value>
            </setting>
            <setting name="_InsertCall" serializeAs="String">
                <value>insert into 
	[Calls] (
		[store], 
		[details], 
		[catID], 
		[topID], 
		[type], 
		[techID],
		[trax],
		[url]) 
values (
	@store, 
	@details, 
	(Select [id] from [Categories] where [category] = @category), 
	(select [id] from [Topics] where [topic] = @topic ), 
	@type, 
	(select [id] from [Technicians] where [technician] = @technician),
	@trax,
	@url
	)
</value>
            </setting>
            <setting name="_CallCount_User" serializeAs="String">
                <value>select
	count([techID]) [Total]
from
	[Calls]
	left join 
		[Technicians]
	on
		[Calls].[techID] = [Technicians].[id]
where
	[date] &gt; dbo.StartOfDay() and
	lower([Technicians].[technician]) = lower(@TECH) and
	lower([type]) = 'in'
</value>
            </setting>
            <setting name="_UpdateCall" serializeAs="String">
                <value>update
	[Calls] 
set 
	[store] = @store, 
	[catID] = (select [catID] from [Topics] where topic = @topic), 
	[topID] = (select [id] from [Topics] where [topic] = @topic), 
	[details] = @details, 
	[type] = @type, 
	[trax] = @trax,
	[url] = @url
where 
	[Calls].[id] = @id
</value>
            </setting>
            <setting name="_InsertTopic" serializeAs="String">
                <value>Insert into [Topics] ([topic], [catID], [active], [mandatory])
values
	(@topic,
	(select [Categories].[id] from [Categories] where [category] = @category),
	'true',
	@mandatory)
</value>
            </setting>
            <setting name="_StoreByPhone" serializeAs="String">
                <value>SELECT 
	[store]
FROM 
	[Phones]
WHERE 
	[phone] LIKE '%' + @phone + '%'
</value>
            </setting>
            <setting name="_CallCount_Team" serializeAs="String">
                <value>select
	count([techID]) [Total]
from
	[Calls]
	left join 
		[Technicians]
	on
		[Calls].[techID] = [Technicians].[id]
where
	[date] &gt; dbo.StartOfDay() and
	lower([type]) = 'in'</value>
            </setting>
            <setting name="_HistoryDeclare" serializeAs="String">
                <value>DECLARE @STORE INT
DECLARE @TYPE VARCHAR(50)
DECLARE @DATE1 DATE
DECLARE @DATE2 DATE
DECLARE @CATEGORY VARCHAR(50)
DECLARE @TOPIC VARCHAR(50)
DECLARE @TECH VARCHAR(50)
DECLARE @DETAILS VARCHAR(2000)
DECLARE @TRAX BIT
DECLARE @URL VARCHAR(2000)
</value>
            </setting>
            <setting name="_HistorySearch" serializeAs="String">
                <value>SELECT
	TOP {0}
	[Calls].[id] as [ID],
	[Calls].[date] as [Date],
	[Calls].[store] as [Store],
	[Technicians].[initials] as [Tech],
	[Categories].[category] as [Category],
	[Topics].[topic] as [Topic],
	[Calls].[details] as [Details],
	[Calls].[type] as [In/Out],
	[Calls].[trax] as [Trax],
	[Calls].[url] as [URL]
FROM
	[Calls]
	INNER JOIN
		[Technicians]
	ON
		[Calls].[techID] = [Technicians].[id]
	INNER JOIN
		[Topics]
	ON
		[Calls].[topID] = [Topics].[id]
	INNER JOIN
		[Categories]
	ON
		[Topics].[catID] = [Categories].[id]
WHERE
	(@STORE IS NULL OR ([store] = @STORE)) AND
	(@TYPE IS NULL OR ([type] = @TYPE)) AND
	(@DATE1 IS NULL OR (CONVERT(DATE,[date]) LIKE @DATE1)) AND
	(@CATEGORY IS NULL OR ([category] = @CATEGORY)) AND
	(@TOPIC IS NULL OR ([topic] = @TOPIC)) AND
	(@TECH IS NULL OR ([initials] = @TECH)) AND
	(@DETAILS IS NULL OR (LOWER([details]) LIKE '%'+LOWER(@DETAILS)+'%')) AND
	(@TRAX IS NULL OR ([trax] = @TRAX)) AND
	(@URL IS NULL OR ([url] = @URL))
ORDER BY
	[date]
DESC 
</value>
            </setting>
            <setting name="_HistorySearchRange" serializeAs="String">
                <value>SELECT
	[Calls].[id] as [ID],
	[Calls].[date] as [Date],
	[Calls].[store] as [Store],
	[Technicians].[initials] as [Tech],
	[Categories].[category] as [Category],
	[Topics].[topic] as [Topic],
	[Calls].[details] as [Details],
	[Calls].[type] as [In/Out],
	[Calls].[trax] as [Trax],
	[Calls].[url] as [URL]
FROM
	[Calls]
	INNER JOIN
		[Technicians]
	ON
		[Calls].[techID] = [Technicians].[id]
	INNER JOIN
		[Topics]
	ON
		[Calls].[topID] = [Topics].[id]
	INNER JOIN
		[Categories]
	ON
		[Topics].[catID] = [Categories].[id]
WHERE
	(@STORE IS NULL OR ([store] = @STORE)) AND
	(@TYPE IS NULL OR ([type] = @TYPE)) AND
	(@DATE1 IS NULL OR (CONVERT(DATE,[date]) BETWEEN @DATE1 AND @DATE2)) AND
	(@CATEGORY IS NULL OR ([category] = @CATEGORY)) AND
	(@TOPIC IS NULL OR ([topic] = @TOPIC)) AND
	(@TECH IS NULL OR ([initials] = @TECH)) AND
	(@DETAILS IS NULL OR (LOWER([details]) LIKE '%'+LOWER(@DETAILS)+'%')) AND
	(@TRAX IS NULL OR ([trax] = @TRAX)) AND
	(@URL IS NULL OR ([url] = @URL))
ORDER BY
	[date]
DESC 
</value>
            </setting>
            <setting name="_StoreInfo" serializeAs="String">
                <value>SELECT TOP 1
	[address],
	[city],
	[dm],
	[email],
	[manager],
	[MP],
	[name],
	[P].phone,
	[state],
	[type],
	[TZ],
	[zip],
	[pos],
	[pos_gate],
	[sensor],
	[sensor_gate],
	[mim],
	[mim_gate],
	[income],
	[rank],
	[BAMS],
	[SVS],
	[TID1],
	[TID2],
	[TID3],
	[TID4]

FROM
	[Stores] as S
	inner join 
		[Phones] as P
	on [S].[store] = [P].[store]
WHERE
	[S].[store] = @store
ORDER BY
	[P].[line]
</value>
            </setting>
            <setting name="_LastCategory" serializeAs="String">
                <value>SELECT
	TOP 1
	[Categories].[category]
FROM
	[Calls]
	INNER JOIN
		[Categories]
	ON
		[Calls].[catID] = [Categories].[id]
	INNER JOIN
		[Technicians]
	ON
		[Calls].[techID] = [Technicians].[id]
WHERE
	[Technicians].[technician] = @TECH
ORDER BY
	[Calls].[id]
DESC
</value>
            </setting>
            <setting name="_StoreSearchDeclare" serializeAs="String">
                <value>DECLARE @TZ VARCHAR(50)
DECLARE @MP VARCHAR(50)
DECLARE @DM VARCHAR(50)
DECLARE @NAME VARCHAR(50)
DECLARE @TYPE VARCHAR(50)
DECLARE @ADDRESS VARCHAR(50)
DECLARE @CITY VARCHAR(50)
DECLARE @STATE VARCHAR(50)
DECLARE @ZIP VARCHAR(50)
DECLARE @PHONE VARCHAR(50)
</value>
            </setting>
            <setting name="_StoreSearch" serializeAs="String">
                <value>SELECT
	[store],
	[TZ],
	[dm],
	[name],
	[type],
	[address],
	[city],
	[state],
	[zip],
	[phone],
	[rank],
	[income]
FROM
	[Stores]
WHERE
	(@TZ IS NULL OR (LOWER([TZ]) = LOWER(@TZ))) AND
	(@MP IS NULL OR ([MP] = @MP)) AND
	(@DM IS NULL OR (LOWER([dm]) LIKE '%'+LOWER(@DM)+'%')) AND
	(@NAME IS NULL OR (LOWER([name]) LIKE '%'+LOWER(@NAME)+'%')) AND
	(@TYPE IS NULL OR (LOWER([type]) LIKE '%'+LOWER(@TYPE)+'%')) AND
	(@ADDRESS IS NULL OR (LOWER([address]) LIKE '%'+LOWER(@ADDRESS)+'%')) AND
	(@CITY IS NULL OR (LOWER([city]) LIKE '%'+LOWER(@CITY)+'%')) AND
	(@STATE IS NULL OR (LOWER([state]) = LOWER(@STATE))) AND
	(@ZIP IS NULL OR (LOWER([zip]) = LOWER(@ZIP))) AND
	(@PHONE IS NULL OR ([phone] = dbo.RemoveNonNumericCharacters
(@PHONE)))
</value>
            </setting>
            <setting name="_InsertStore" serializeAs="String">
                <value>INSERT INTO 
	[STORES] (
		[store],
		[TZ],
		[MP],
		[manager],
		[dm],
		[mall],
		[name],
		[type],
		[address],
		[city],
		[state],
		[zip],
		[email],
		[pos_gate],
		[pos],
		[mim_gate],
		[mim],
		[sensor_gate],
		[sensor]
) 
VALUES (
	dbo.InitCap(@store),
	UPPER(@TZ),
	dbo.InitCap(@MP),
	dbo.InitCap(@manager),
	dbo.InitCap(@dm),
	dbo.InitCap(@mall),
	dbo.InitCap(@name),
	dbo.InitCap(@type),
	dbo.InitCap(@address),
	dbo.InitCap(@city),
	UPPER(@state),
	@zip,
	@email,
	@pos_gate,
	@pos,
	@mim_gate,
	@mim,
	@sensor_gate,
	@sensor
)

INSERT INTO
	[Phones] (
		[phone],
		[store]
)
VALUES (
	dbo.RemoveNonNumericCharacters(@phone),
	@store
)

</value>
            </setting>
            <setting name="_UpdateStore" serializeAs="String">
                <value>UPDATE 
	[Stores]
SET 
	[manager] = @manager,
	[MP] = @mpid,
	[address] = @address,
	[email] = @email,
	[pos] = @pos,
	[city] = @city,
	[dm] = @dm,
	[name] = @name,
	[type] = @type,
	[state] = @state,
	[zip] = @zip,
	[TZ] = @tz
WHERE 
	[store] = @store

UPDATE
	[Phones]
SET
	[phone] = dbo.RemoveNonNumericCharacters(@phone)
</value>
            </setting>
            <setting name="_InsertInfoTab" serializeAs="String">
                <value>INSERT INTO [Info] ([tab], [order]) VALUES (@tab, @order)</value>
            </setting>
        </Retail_HD.Setting.SQL>
        <Retail_HD.Settings>
            <setting name="_TempFile" serializeAs="String">
                <value>C:\Temp\HD.bat</value>
            </setting>
            <setting name="_NetworkShare" serializeAs="String">
                <value>\\wwwint\roc\IS-Share\Helpdesk\Retail Helpdesk</value>
            </setting>
            <setting name="_DrawingLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="_DrawingSize" serializeAs="String">
                <value>764, 477</value>
            </setting>
            <setting name="_OldMenuPath" serializeAs="String">
                <value>\\wwwint\roc\techtmp\bergman\Toolsmenu.bat</value>
            </setting>
            <setting name="_UpdateComputerList" serializeAs="String">
                <value>\\wwwint\roc\IS-Share\Helpdesk\Retail Helpdesk\Software\Update Computer List\UpdateComputerList.exe</value>
            </setting>
            <setting name="_ShowMeInAgentStatus" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_ShowLoggedOutUsers" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_EnableAutoReady" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_LoginEnabled" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_main_LoginDisabled" serializeAs="String">
                <value>Login Is Disabled In Your Settings

Continue without logging into Cisco?</value>
            </setting>
            <setting name="_main_LoginDebugger" serializeAs="String">
                <value>Debugger is Attached

Continue without logging into Cisco?
</value>
            </setting>
        </Retail_HD.Settings>
        <Retail_HD.SQLSettings>
            <setting name="tableStores" serializeAs="String">
                <value>tblStores</value>
            </setting>
            <setting name="tableComputers" serializeAs="String">
                <value>tblComputers</value>
            </setting>
            <setting name="tableCalls" serializeAs="String">
                <value>tblCalls</value>
            </setting>
            <setting name="tableInfo" serializeAs="String">
                <value>tblUsefulInfo</value>
            </setting>
            <setting name="tempComputers" serializeAs="String">
                <value>tempComputers</value>
            </setting>
            <setting name="tableWrapUps" serializeAs="String">
                <value>tblWrapUps</value>
            </setting>
        </Retail_HD.SQLSettings>
        <Retail_HD.GlobalSQLSettings>
            <setting name="tableStores" serializeAs="String">
                <value>tblStores</value>
            </setting>
            <setting name="tableComputers" serializeAs="String">
                <value>tblComputers</value>
            </setting>
            <setting name="tableCalls" serializeAs="String">
                <value>tblCalls</value>
            </setting>
            <setting name="tableInfo" serializeAs="String">
                <value>tblUsefulInfo</value>
            </setting>
            <setting name="tempComputers" serializeAs="String">
                <value>tempComputers</value>
            </setting>
        </Retail_HD.GlobalSQLSettings>
        <Retail_HD.GlobalSettings>
            <setting name="_ServerName" serializeAs="String">
                <value>rochdclogp01</value>
            </setting>
            <setting name="_Database" serializeAs="String">
                <value>RetailHD</value>
            </setting>
            <setting name="_TempFile" serializeAs="String">
                <value>C:\Temp\HD.bat</value>
            </setting>
            <setting name="_CallCategories" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Network</string>
                        <string>Password</string>
                        <string>Transfer</string>
                        <string>Hardware</string>
                        <string>Software</string>
                        <string>Open-Close</string>
                        <string>Operational</string>
                        <string>B&amp;M</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_NetworkShare" serializeAs="String">
                <value>\\wwwint\roc\IS-Share\Helpdesk\Retail Helpdesk</value>
            </setting>
            <setting name="_QuickWrapSoftware" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Citrix Log off/on</string>
                        <string>Citrix Plugin close/open</string>
                        <string>Domain Log off/on</string>
                        <string>POS Restart</string>
                        <string>Computer Restart</string>
                        <string>Multi Start Server/Bounce MCM</string>
                        <string>Restarted Services</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_QuickWrapOpenClose" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Run EOD</string>
                        <string>Reset Business Date</string>
                        <string>Restart Express Server</string>
                        <string>POS Balance</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_QuickWrapNetwork" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ran Layer One</string>
                        <string>Report to MP</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_QuickWrapPassword" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>People Soft</string>
                        <string>MIMs</string>
                        <string>BW</string>
                        <string>BW and MIMs</string>
                        <string>Cashier</string>
                        <string>Domain</string>
                        <string>Staples</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_QuickWrapHardware" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Uplug Scanner</string>
                        <string>Printer Install</string>
                        <string>POS Restart</string>
                        <string>Computer Restart</string>
                        <string>Power on Computer</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_QuickWrapTransfer" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Ultra-Time</string>
                        <string>TAM</string>
                        <string>Inventory/POS Specialists</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_QuickWrapBM" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>Power Outage</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="_TableStores" serializeAs="String">
                <value>tblStores</value>
            </setting>
            <setting name="_TableComputers" serializeAs="String">
                <value>tblComputers</value>
            </setting>
            <setting name="_TableCalls" serializeAs="String">
                <value>tblCalls</value>
            </setting>
            <setting name="_TableInfo" serializeAs="String">
                <value>tblUsefulInfo</value>
            </setting>
            <setting name="_TableWrapUps" serializeAs="String">
                <value>tblWrapUps</value>
            </setting>
            <setting name="_TableTempComputers" serializeAs="String">
                <value>tempComputers</value>
            </setting>
            <setting name="_DrawingLocation" serializeAs="String">
                <value>0, 0</value>
            </setting>
            <setting name="_DrawingSize" serializeAs="String">
                <value>764, 477</value>
            </setting>
        </Retail_HD.GlobalSettings>
        <Retail_HD.UserSettings>
            <setting name="ServerName" serializeAs="String">
                <value />
            </setting>
            <setting name="Database" serializeAs="String">
                <value />
            </setting>
            <setting name="BatFile" serializeAs="String">
                <value />
            </setting>
        </Retail_HD.UserSettings>
        <Retail_HD.setGlobal>
            <setting name="TempBatFile" serializeAs="String">
                <value>C:\Temp\HD.bat</value>
            </setting>
        </Retail_HD.setGlobal>
        <Retail_HD.main>
            <setting name="PCAnywhereCHF" serializeAs="String">
                <value>C:\Users\All Users\Symantec\pcAnywhere\Remotes\Network, Cable, DSL.chf</value>
            </setting>
            <setting name="TempBatFile" serializeAs="String">
                <value>C:\Temp\HD.bat</value>
            </setting>
            <setting name="SQLServerName" serializeAs="String">
                <value>GOULDCH\MSSQL</value>
            </setting>
            <setting name="SQLDatabase" serializeAs="String">
                <value>RetailHD</value>
            </setting>
            <setting name="SQLTables" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>StoreInfo</string>
                        <string>Computers</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Retail_HD.main>
        <Retail_HD.global>
            <setting name="PCAnywhereCHF" serializeAs="String">
                <value>C:\Users\All Users\Symantec\pcAnywhere\Remotes\Network, Cable, DSL.chf</value>
            </setting>
            <setting name="TempBatFile" serializeAs="String">
                <value>C:\Temp\HD.bat</value>
            </setting>
            <setting name="SQLServerName" serializeAs="String">
                <value>GOULDCH\MSSQL</value>
            </setting>
            <setting name="SQLDatabase" serializeAs="String">
                <value>RetailHD</value>
            </setting>
        </Retail_HD.global>
    </userSettings>
    <applicationSettings>
        <Retail_HD.Classes.SQL>
            <setting name="ServerName" serializeAs="String">
                <value>rochdclogp01</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>RetailHD</value>
            </setting>
            <setting name="select_RecentCalls" serializeAs="String">
                <value>select
	[Calls].[id] as [ID],
	[Calls].[store] as [Store],
	[Calls].[date] [Date],
	[Technicians].[initials] as [Tech],
	[Categories].[category] as [Category],
	[Topics].[topic] as [Topic],
	[Calls].[details] as [Details],
	[Calls].[type] as [In/Out],
	[Calls].[trax] as [Trax],
	[Calls].[url] as [URL]
from
	[Calls]
	left join
		[Topics] on [Calls].[topID] = [Topics].id
	left join
		[Categories] on [Topics].[catID] = [Categories].[id]
	left join
		[Technicians] on [Calls].[techID] = [Technicians].[id]
where
	[Calls].[store] = @store
order by
	[Calls].[date] desc


</value>
            </setting>
        </Retail_HD.Classes.SQL>
        <Retail_HD.setGlobal>
            <setting name="SQLServerName" serializeAs="String">
                <value>GOULDCH\MSSQL</value>
            </setting>
            <setting name="SQLDatabase" serializeAs="String">
                <value>RetailHD</value>
            </setting>
        </Retail_HD.setGlobal>
    </applicationSettings>
</configuration>
