<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="PeopleCounterCCTVCheck.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <PeopleCounterCCTVCheck.Properties.Settings>
            <setting name="ignoreSensors" serializeAs="String">
                <value>402,403,404,714,732,810,816,826</value>
            </setting>
            <setting name="ignoreCCTVs" serializeAs="String">
                <value>790,5011,5203,6046</value>
            </setting>
            <setting name="header" serializeAs="String">
                <value>
&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;
&lt;style&gt;
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
&lt;/style&gt;&lt;/head&gt;
&lt;p&gt;</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;
</value>
            </setting>
            <setting name="tableHead" serializeAs="String">
                <value>&lt;/p&gt;
&lt;body&gt;&lt;table style="width:100%"&gt;
&lt;tr&gt;&lt;th&gt;Store #&lt;/th&gt;&lt;th&gt;Device&lt;/th&gt;&lt;th&gt;IP&lt;/th&gt;&lt;th&gt;Notes&lt;/th&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;td&gt;{3}&lt;/td&gt;&lt;/tr&gt;
</value>
            </setting>
            <setting name="from" serializeAs="String">
                <value>retailhelpdesk@wwwinc.com</value>
            </setting>
            <setting name="to" serializeAs="String">
                <value>retailhelpdesk@wwwinc.com</value>
            </setting>
            <setting name="subject" serializeAs="String">
                <value>People Couter / CCTV Connectivity Report</value>
            </setting>
        </PeopleCounterCCTVCheck.Properties.Settings>
    </userSettings>
</configuration>