<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            
            <section name="Shared.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
            <section name="Shared.SQLSettings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        
        <Shared.Settings>
            <setting name="_TempFile" serializeAs="String">
                <value>C:\Temp\HD.bat</value>
            </setting>
            <setting name="_NetworkShare" serializeAs="String">
                <value>\\wwwint\roc\IS-Share\Helpdesk\Retail Helpdesk</value>
            </setting>
            <setting name="_OldMenuPath" serializeAs="String">
                <value>\\wwwint\roc\techtmp\bergman\Toolsmenu.bat</value>
            </setting>
            <setting name="_SettingsUpgradeCompleted" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_PeoplesoftUpgrade" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_PeoplesoftPopupThreadRunning" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="_PeoplesoftUsername" serializeAs="String">
                <value />
            </setting>
            <setting name="_PeoplesoftPassword" serializeAs="String">
                <value />
            </setting>
            <setting name="_ApplicationRetail" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="_MostRecentLogSent" serializeAs="String">
                <value>2015-03-01</value>
            </setting>
        </Shared.Settings>
        <Shared.SQLSettings>
            <setting name="_ServerName" serializeAs="String">
                <value>rochdclogp01</value>
            </setting>
            <setting name="_Database" serializeAs="String">
                <value>RetailHD</value>
            </setting>
            <setting name="_RecentCallsByStore" serializeAs="String">
                <value>select
	[Calls].[id] as [ID],
	[Calls].[store] as [Store],
	[Calls].[date] [Date],
	[Technicians].[initials] as [Tech],
	[Categories].[category] as [Category],
	[Topics].[topic] as [Topic],
	[Calls].[details] as [Details],
	[Calls].[type] as [In/Out],
	[Calls].[trax] as [Trax],
	[Calls].[url] as [URL]
from
	[Calls]
	left join
		[Topics] on [Calls].[topID] = [Topics].id
	left join
		[Categories] on [Topics].[catID] = [Categories].[id]
	left join
		[Technicians] on [Calls].[techID] = [Technicians].[id]
where
	[Calls].[store] = @store
order by
	[Calls].[date] desc

</value>
            </setting>
            <setting name="_ComputersByStore" serializeAs="String">
                <value>SELECT 
	[computer] 
FROM 
	[Computers] 
WHERE 
	[store] = @store</value>
            </setting>
            <setting name="_CategoriesWithTopics" serializeAs="String">
                <value>select 
	[category], 
	[topic], 
	[mandatory] 
from 
	[Topics] 
	left join 
		[Categories] 
	on 
		[Topics].[catID] = [Categories].[id]
where
	[active] = 'TRUE'</value>
            </setting>
            <setting name="_LogCall" serializeAs="String">
                <value>insert into 
	[Calls] (
		[store], 
		[details], 
		[catID], 
		[topID], 
		[type], 
		[techID],
		[trax],
		[url]) 
values (
	@store, 
	@details, 
	(Select [id] from [Categories] where [category] = @category), 
	(select [id] from [Topics] where [topic] = @topic ), 
	@type, 
	(select [id] from [Technicians] where [technician] = @technician),
	@trax,
	@url
	)
</value>
            </setting>
            <setting name="_UserCallCount" serializeAs="String">
                <value>select
	count([techID]) [Total]
from
	[Calls]
	left join 
		[Technicians]
	on
		[Calls].[techID] = [Technicians].[id]
where
	[date] &gt; dbo.StartOfDay() and
	lower([Technicians].[technician]) = lower(@TECH) and
	lower([type]) = 'in'
</value>
            </setting>
            <setting name="_UpdateWrapUp" serializeAs="String">
                <value>update
	[Calls] 
set 
	[store] = @store, 
	[catID] = (select [catID] from [Topics] where topic = @topic), 
	[topID] = (select [id] from [Topics] where [topic] = @topic), 
	[details] = @details, 
	[type] = @type, 
	[trax] = @trax,
	[url] = @url
where 
	[Calls].[id] = @id
</value>
            </setting>
            <setting name="_AddCallTopic" serializeAs="String">
                <value>Insert into [Topics] ([topic], [catID], [active], [mandatory])
values
	(@topic,
	(select [Categories].[id] from [Categories] where [category] = @category),
	'true',
	@mandatory)
</value>
            </setting>
            <setting name="_StoreByPhone" serializeAs="String">
                <value>
SELECT 
	[store]
FROM 
	[Phones]
WHERE 
	[phone] LIKE @phone</value>
            </setting>
            <setting name="_TeamCallCount" serializeAs="String">
                <value>select
	count([techID]) [Total]
from
	[Calls]
	left join 
		[Technicians]
	on
		[Calls].[techID] = [Technicians].[id]
where
	[date] &gt; dbo.StartOfDay() and
	lower([type]) = 'in'</value>
            </setting>
            <setting name="_HistoryDeclare" serializeAs="String">
                <value>DECLARE @STORE INT
DECLARE @TYPE VARCHAR(50)
DECLARE @DATE1 DATE
DECLARE @DATE2 DATE
DECLARE @CATEGORY VARCHAR(50)
DECLARE @TOPIC VARCHAR(50)
DECLARE @TECH VARCHAR(50)
DECLARE @DETAILS VARCHAR(2000)
DECLARE @TRAX BIT
DECLARE @URL VARCHAR(2000)
</value>
            </setting>
            <setting name="_HistorySearch" serializeAs="String">
                <value>SELECT
	TOP {0}
	[Calls].[id] as [ID],
	[Calls].[date] as [Date],
	[Calls].[store] as [Store],
	[Technicians].[initials] as [Tech],
	[Categories].[category] as [Category],
	[Topics].[topic] as [Topic],
	[Calls].[details] as [Details],
	[Calls].[type] as [In/Out],
	[Calls].[trax] as [Trax],
	[Calls].[url] as [URL]
FROM
	[Calls]
	INNER JOIN
		[Technicians]
	ON
		[Calls].[techID] = [Technicians].[id]
	INNER JOIN
		[Topics]
	ON
		[Calls].[topID] = [Topics].[id]
	INNER JOIN
		[Categories]
	ON
		[Topics].[catID] = [Categories].[id]
WHERE
	(@STORE IS NULL OR ([store] = @STORE)) AND
	(@TYPE IS NULL OR ([type] = @TYPE)) AND
	(@DATE1 IS NULL OR (CONVERT(DATE,[date]) LIKE @DATE1)) AND
	(@CATEGORY IS NULL OR ([category] = @CATEGORY)) AND
	(@TOPIC IS NULL OR ([topic] = @TOPIC)) AND
	(@TECH IS NULL OR ([initials] = @TECH)) AND
	(@DETAILS IS NULL OR ([details] LIKE '%'+@DETAILS+'%')) AND
	(@TRAX IS NULL OR ([trax] = @TRAX)) AND
	(@URL IS NULL OR ([url] = @URL))
ORDER BY
	[date]
DESC 
</value>
            </setting>
            <setting name="_HistorySearchRange" serializeAs="String">
                <value>SELECT
	[Calls].[id] as [ID],
	[Calls].[date] as [Date],
	[Calls].[store] as [Store],
	[Technicians].[initials] as [Tech],
	[Categories].[category] as [Category],
	[Topics].[topic] as [Topic],
	[Calls].[details] as [Details],
	[Calls].[type] as [In/Out],
	[Calls].[trax] as [Trax],
	[Calls].[url] as [URL]
FROM
	[Calls]
	INNER JOIN
		[Technicians]
	ON
		[Calls].[techID] = [Technicians].[id]
	INNER JOIN
		[Topics]
	ON
		[Calls].[topID] = [Topics].[id]
	INNER JOIN
		[Categories]
	ON
		[Topics].[catID] = [Categories].[id]
WHERE
	(@STORE IS NULL OR ([store] = @STORE)) AND
	(@TYPE IS NULL OR ([type] = @TYPE)) AND
	(@DATE1 IS NULL OR (CONVERT(DATE,[date]) BETWEEN @DATE1 AND @DATE2)) AND
	(@CATEGORY IS NULL OR ([category] = @CATEGORY)) AND
	(@TOPIC IS NULL OR ([topic] = @TOPIC)) AND
	(@TECH IS NULL OR ([initials] = @TECH)) AND
	(@DETAILS IS NULL OR ([details] LIKE '%'+@DETAILS+'%')) AND
	(@TRAX IS NULL OR ([trax] = @TRAX)) AND
	(@URL IS NULL OR ([url] = @URL))
ORDER BY
	[date]
DESC 
</value>
            </setting>
            <setting name="_StoreInfo" serializeAs="String">
                <value>SELECT TOP 1
	*
FROM
	[Stores] as S
	inner join 
		[Phones] as P
	on [S].[store] = [P].[store]
WHERE
	[S].[store] = @store
ORDER BY
	[P].[line]</value>
            </setting>
            <setting name="_LastCategory" serializeAs="String">
                <value>SELECT
	TOP 1
	[Categories].[category]
FROM
	[Calls]
	INNER JOIN
		[Categories]
	ON
		[Calls].[catID] = [Categories].[id]
	INNER JOIN
		[Technicians]
	ON
		[Calls].[techID] = [Technicians].[id]
WHERE
	[Technicians].[technician] = @TECH
ORDER BY
	[Calls].[id]
DESC
</value>
            </setting>
            <setting name="_DatabaseGlobal" serializeAs="String">
                <value>GlobalHD</value>
            </setting>
            <setting name="_StoreSearchDeclare" serializeAs="String">
                <value>DECLARE @TZ VARCHAR(50)
DECLARE @MP VARCHAR(50)
DECLARE @MANAGER VARCHAR(50)
DECLARE @DM VARCHAR(50)
DECLARE @NAME VARCHAR(50)
DECLARE @TYPE VARCHAR(50)
DECLARE @ADDRESS VARCHAR(50)
DECLARE @CITY VARCHAR(50)
DECLARE @STATE VARCHAR(50)
DECLARE @ZIP VARCHAR(50)
DECLARE @PHONE VARCHAR(50)
DECLARE @IP VARCHAR(50)</value>
            </setting>
            <setting name="_StoreSearch" serializeAs="String">
                <value>
SELECT
	[Stores].[store],
	[TZ],
	[manager],
	[dm],
	[name],
	[type],
	[address],
	[city],
	[state],
	[zip],
	[phone],
	[rank],
	[income]
FROM
	[Stores]
	inner join [Phones] on [Phones].store=[Stores].store
WHERE
	(@TZ IS NULL OR (LOWER([TZ]) = LOWER(@TZ))) AND
	(@MP IS NULL OR ([MP] = @MP)) AND
	(@MANAGER IS NULL OR (LOWER([manager]) LIKE '%'+LOWER(@MANAGER)+'%')) AND
	(@DM IS NULL OR (LOWER([dm]) LIKE '%'+LOWER(@DM)+'%')) AND
	(@NAME IS NULL OR (LOWER([name]) LIKE '%'+LOWER(@NAME)+'%')) AND
	(@TYPE IS NULL OR (LOWER([type]) LIKE '%'+LOWER(@TYPE)+'%')) AND
	(@ADDRESS IS NULL OR (LOWER([address]) LIKE '%'+LOWER(@ADDRESS)+'%')) AND
	(@CITY IS NULL OR (LOWER([city]) LIKE '%'+LOWER(@CITY)+'%')) AND
	(@STATE IS NULL OR (LOWER([state]) = LOWER(@STATE))) AND
	(@ZIP IS NULL OR (LOWER([zip]) = LOWER(@ZIP))) AND
	(@PHONE IS NULL OR ([phone] = dbo.RemoveNonNumericCharacters(@PHONE))) AND
	(
		@IP IS NULL OR 
		CONCAT([1st],'.',[2nd],'.',[3rd],'.',[lan1]) LIKE '%'+@IP+'%' OR 
		CONCAT([1st],'.',[2nd],'.',[3rd],'.',[lan2]) LIKE '%'+@IP+'%' OR
		CONCAT([1st],'.',[2nd],'.',[3rd],'.',[lan3]) LIKE '%'+@IP+'%' OR
		CONCAT([1st],'.',[2nd],'.',[3rd],'.',[lan4]) LIKE '%'+@IP+'%' OR
		CONCAT([1st],'.',[2nd],'.',[3rd],'.',[gate1]) LIKE '%'+@IP+'%' OR
		CONCAT([1st],'.',[2nd],'.',[3rd],'.',[gate2]) LIKE '%'+@IP+'%' OR
		CONCAT([1st],'.',[2nd],'.',[3rd],'.',[gate3]) LIKE '%'+@IP+'%' OR
		CONCAT([1st],'.',[2nd],'.',[3rd],'.',[gate4]) LIKE '%'+@IP+'%'
	)
</value>
            </setting>
        </Shared.SQLSettings>
    </userSettings>
</configuration>