<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="B9Weekly.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <B9Weekly.Properties.Settings>
            <setting name="header" serializeAs="String">
                <value>
&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;
&lt;style&gt;
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
&lt;/style&gt;&lt;/head&gt;</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>
&lt;/body&gt;&lt;/html&gt;</value>
            </setting>
            <setting name="to" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>chad.gould@wwwinc.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="table" serializeAs="String">
                <value>&lt;table style="width:50%"&gt;
&lt;tr&gt;&lt;th&gt;[Host_Name]&lt;/th&gt;&lt;th&gt;[Host_Agent_Version]&lt;/th&gt;&lt;th&gt;[Host_Group]&lt;/th&gt;&lt;th&gt;[Upgrade_Status]&lt;/th&gt;&lt;th&gt;[Upgrade_Error]&lt;/th&gt;&lt;th&gt;[Upgrade_Error_Count]&lt;/th&gt;&lt;th&gt;[Upgrade_Error_Time]&lt;/th&gt;&lt;th&gt;[Tamper_Protect]&lt;/th&gt;&lt;/tr&gt;
{0}
&lt;/table&gt;</value>
            </setting>
            <setting name="row" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;td&gt;{3}&lt;/td&gt;&lt;td&gt;{4}&lt;/td&gt;&lt;td&gt;{5}&lt;/td&gt;&lt;td&gt;{6}&lt;/td&gt;&lt;td&gt;{7}&lt;/td&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="sql" serializeAs="String">
                <value>
SELECT
      [Host_Name]
      ,[Host_Agent_Version]
      ,[Host_Group]
      ,[Upgrade_Status]
      ,[Upgrade_Error]
      ,[Upgrade_Error_Count]
      ,[Upgrade_Error_Time]
      ,[Tamper_Protect]
  FROM [das].[dbo].[HostsGUI]
  ORDER BY [Host_Name]
</value>
            </setting>
        </B9Weekly.Properties.Settings>
    </userSettings>
</configuration>
