<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Bit9Report.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <Bit9Report.Settings>
            <setting name="header" serializeAs="String">
                <value>
&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;
&lt;style&gt;
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
&lt;/style&gt;&lt;/head&gt;</value>
            </setting>
            <setting name="ahcTable" serializeAs="String">
                <value>&lt;table style="width:50%"&gt;
&lt;tr&gt;&lt;th&gt;Computer&lt;/th&gt;&lt;th&gt;Time&lt;/th&gt;&lt;th&gt;Subtype&lt;/th&gt;&lt;th&gt;Description&lt;/th&gt;&lt;th&gt;IP_Address&lt;/th&gt;&lt;/tr&gt;
{0}
&lt;/table&gt;</value>
            </setting>
            <setting name="ahcRow" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;td&gt;{3}&lt;/td&gt;&lt;td&gt;{4}&lt;/td&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="ahcSelect" serializeAs="String">
                <value>Select
comp.Computer,
Timestamp,
Subtype,
Description,
events.IP_Address
from
das.bit9_public.ExEvents as [events]
inner join
	das.bit9_public.ExComputers as [comp] on
              [events].Computer_Id = [comp].Computer_Id
where
Subtype like '%health%' and
Description like '%failed%' and
[Timestamp] &gt; dateadd( day, -1, getutcdate() )</value>
            </setting>
            <setting name="ebTable" serializeAs="String">
                <value>&lt;table style="width:50%"&gt;
&lt;tr&gt;&lt;th&gt;Computer&lt;/th&gt;&lt;th&gt;File_Name&lt;/th&gt;&lt;th&gt;Path_Name&lt;/th&gt;&lt;th&gt;Time&lt;/th&gt;&lt;th&gt;User_Name&lt;/th&gt;&lt;th&gt;Process&lt;/th&gt;&lt;/tr&gt;
{0}
&lt;/table&gt;</value>
            </setting>
            <setting name="ebRow" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;td&gt;{3}&lt;/td&gt;&lt;td&gt;{4}&lt;/td&gt;&lt;td&gt;{5}&lt;/td&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="ebSelect" serializeAs="String">
                <value>select 
comp.Computer,
File_Name,
Path_Name,
Timestamp,
User_Name,
process
from
das.bit9_public.ExEvents as [events]
inner join
       das.bit9_public.ExComputers as [comp] on
              [events].Computer_Id = [comp].Computer_Id
where
Subtype like '%block%' and 
[Timestamp] &gt; dateadd( day, -1, getutcdate() )
</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>&lt;/body&gt;&lt;/html&gt;
</value>
            </setting>
            <setting name="to" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>chad.gould@wwwinc.com</string>
                        <string>jason.bergman@wwwinc.com</string>
                        <string>scott.chivington@wwwinc.com</string>
                    </ArrayOfString>
                </value>
            </setting>
        </Bit9Report.Settings>
    </userSettings>
</configuration>