<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="RIStupidCheckerForTim.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <RIStupidCheckerForTim.Properties.Settings>
            <setting name="Stores" serializeAs="String">
                <value>281 787 282 793 283 797 284 808 286 815 287 817 288 818 289 820 720 822 722 823 734 825 737 827 738 829 741 830 743 831 745 832 746 833 747 835 752 837 763 838 764 839 766 840 767 841 770 842 772 843 774 845 775  </value>
            </setting>
            <setting name="from" serializeAs="String">
                <value>retailhelpdesk@wwwinc.com</value>
            </setting>
            <setting name="to" serializeAs="String">
                <value>chad.gould@wwwinc.com</value>
            </setting>
            <setting name="subject" serializeAs="String">
                <value>RI Broker Check</value>
            </setting>
            <setting name="header" serializeAs="String">
                <value>
&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;
&lt;style&gt;
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
&lt;/style&gt;&lt;/head&gt;
&lt;p&gt;</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;
</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;td&gt;{3}&lt;/td&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="tableHead" serializeAs="String">
                <value>&lt;/p&gt;
&lt;body&gt;&lt;table style="width:100%"&gt;
&lt;tr&gt;&lt;th&gt;Computer Name&lt;/th&gt;&lt;th&gt;.TXN&lt;/th&gt;&lt;th&gt;.FAIL&lt;/th&gt;&lt;th&gt;Notes&lt;/th&gt;&lt;/tr&gt;</value>
            </setting>
        </RIStupidCheckerForTim.Properties.Settings>
    </userSettings>
</configuration>