<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="FileCopier.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <FileCopier.Properties.Settings>
            <setting name="_EmailHeader" serializeAs="String">
                <value>
&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;
&lt;style&gt;
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
&lt;/style&gt;&lt;/head&gt;
&lt;p&gt;</value>
            </setting>
            <setting name="_EmailTableHead" serializeAs="String">
                <value>&lt;/p&gt;
&lt;body&gt;&lt;table style="width:100%"&gt;
&lt;tr&gt;&lt;th&gt;Computer Name&lt;/th&gt;&lt;th&gt;Message&lt;/th&gt;&lt;th&gt;File&lt;/th&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="_EmailTableRow" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="_EmailFooter" serializeAs="String">
                <value>&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;</value>
            </setting>
            <setting name="_To" serializeAs="String">
                <value>chad.gould@wwwinc.com</value>
            </setting>
            <setting name="_Subject" serializeAs="String">
                <value>File Copier Results</value>
            </setting>
        </FileCopier.Properties.Settings>
    </userSettings>
</configuration>