<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MissingDLLs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="MissingDLLs.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <applicationSettings>
        <MissingDLLs.Properties.Settings>
            <setting name="ignore" serializeAs="String">
                <value />
            </setting>
            <setting name="to" serializeAs="String">
                <value>retailhelpdesk@wwwinc.com</value>
            </setting>
            <setting name="subject" serializeAs="String">
                <value>Missing DLLs</value>
            </setting>
            <setting name="header" serializeAs="String">
                <value>
&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;
&lt;style&gt;
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
&lt;/style&gt;&lt;/head&gt;
&lt;p&gt;</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;
</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;/tr&gt;
</value>
            </setting>
            <setting name="tableHead" serializeAs="String">
                <value>&lt;/p&gt;
&lt;body&gt;&lt;table style="width:100%"&gt;
&lt;tr&gt;&lt;th&gt;Computer Name&lt;/th&gt;&lt;th&gt;Message&lt;/th&gt;&lt;th&gt;Notes&lt;/th&gt;&lt;/tr&gt;
</value>
            </setting>
        </MissingDLLs.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <MissingDLLs.Properties.Settings>
            <setting name="from" serializeAs="String">
                <value>retailhelpdesk@wwwinc.com</value>
            </setting>
            <setting name="pathToDLL" serializeAs="String">
                <value>\\wwwint\roc\IS-Share\Helpdesk\Retail Helpdesk\atl71.dll</value>
            </setting>
        </MissingDLLs.Properties.Settings>
    </userSettings>
</configuration>