<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="PinPadReport.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
    </startup>
    <userSettings>
        <PinPadReport.Properties.Settings>
            <setting name="header" serializeAs="String">
                <value>&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;
&lt;style&gt;
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
&lt;/style&gt;&lt;/head&gt;
&lt;p&gt;</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;</value>
            </setting>
            <setting name="tableHead" serializeAs="String">
                <value>&lt;/p&gt;
&lt;body&gt;&lt;table style="width:100%"&gt;
&lt;tr&gt;&lt;th&gt;Store&lt;/th&gt;&lt;th&gt;Date&lt;/th&gt;&lt;th&gt;Details&lt;/th&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="from" serializeAs="String">
                <value />
            </setting>
            <setting name="to" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>chad.gould@wwwinc.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="query_calls" serializeAs="String">
                <value>
SELECT 
	[Calls].[store],
	[Calls].[date],
	[Calls].[details]
FROM 
	[Calls]
	INNER JOIN
		[Topics] AS [T] ON [T].[id] = [Calls].[topID]
WHERE
	[Calls].[date] &gt; DATEADD(day,-1,GETDATE()) AND
	[T].[topic] = 'Pin Pad'
ORDER BY
	[Calls].[store],[Calls].[date]</value>
            </setting>
            <setting name="subject" serializeAs="String">
                <value>Pin Pad Report</value>
            </setting>
            <setting name="row" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;/tr&gt;</value>
            </setting>
            <setting name="query_count" serializeAs="String">
                <value>
SELECT 
	Count([Calls].[store])
FROM 
	[Calls]
	INNER JOIN
		[Topics] AS [T] ON [T].[id] = [Calls].[topID]
WHERE
	[Calls].[date] &gt; DATEADD(day,-1,GETDATE()) AND
	[T].[topic] = 'Pin Pad'
</value>
            </setting>
        </PinPadReport.Properties.Settings>
    </userSettings>
</configuration>
