<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="EReceiptMonitor.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <EReceiptMonitor.Properties.Settings>
            <setting name="from" serializeAs="String">
                <value>retailhelpdesk@wwwinc.com</value>
            </setting>
            <setting name="to" serializeAs="String">
                <value>retailhelpdesk@wwwinc.com</value>
            </setting>
            <setting name="subject" serializeAs="String">
                <value>E-Receipt Check</value>
            </setting>
            <setting name="ignore" serializeAs="String">
                <value />
            </setting>
            <setting name="header" serializeAs="String">
                <value>
&lt;!DOCTYPE html&gt;&lt;html&gt;&lt;head&gt;
&lt;style&gt;
table, th, td {
border: 1px solid black;
border-collapse: collapse;
}
th, td {
padding: 5px;
}
&lt;/style&gt;&lt;/head&gt;
&lt;p&gt;</value>
            </setting>
            <setting name="footer" serializeAs="String">
                <value>&lt;/table&gt;&lt;/body&gt;&lt;/html&gt;
</value>
            </setting>
            <setting name="body" serializeAs="String">
                <value>&lt;tr&gt;&lt;td&gt;{0}&lt;/td&gt;&lt;td&gt;{1}&lt;/td&gt;&lt;td&gt;{2}&lt;/td&gt;&lt;/tr&gt;
</value>
            </setting>
            <setting name="tableHead" serializeAs="String">
                <value>&lt;/p&gt;
&lt;body&gt;&lt;table style="width:100%"&gt;
&lt;tr&gt;&lt;th&gt;Computer Name&lt;/th&gt;&lt;th&gt;Message&lt;/th&gt;&lt;th&gt;Notes&lt;/th&gt;&lt;/tr&gt;
</value>
            </setting>
            <setting name="path" serializeAs="String">
                <value>C:\Program Files\RedIron Technologies\RedIron Broker\</value>
            </setting>
            <setting name="files" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>DataRetrievalElectronicReceipt.saf</string>
                        <string>ElectronicReceipt.saf</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="sizeBytes" serializeAs="String">
                <value>3072</value>
            </setting>
            <setting name="relplyToList" serializeAs="Xml">
                <value>
                    <ArrayOfString xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
                        xmlns:xsd="http://www.w3.org/2001/XMLSchema">
                        <string>itretailhelpdesk@wwwint.com</string>
                    </ArrayOfString>
                </value>
            </setting>
            <setting name="includeBoston" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="includeMichigan" serializeAs="String">
                <value>True</value>
            </setting>
        </EReceiptMonitor.Properties.Settings>
    </userSettings>
</configuration>